.idea
.idea/**
.classes
.classes/**
*.class
*.xml
.idea/workspace.xml
*.iml
*.xlsx
*.class
*.html
*.zip
*.lck
*.ctrl
*.dat
*.log
*.lck

SignInSystemDatabase/service.properties
SignInSystemDatabase/log/README_DO_NOT_TOUCH_FILES.txt
SignInSystemDatabase/README_DO_NOT_TOUCH_FILES.txt
SignInSystemDatabase/seg0/README_DO_NOT_TOUCH_FILES.txt
