#page {
    font-family: 'Arial', Helvetica, sans-serif; 
}
body {
    background-color: #ECEFF1;
}
h1 {
    color: #00b3b3;
}
h2 {
    color: #00b7b7;
}
a {
    color: #212121;
}
td {
    color: #00b3b3;
}

tr{
    color: #212121;
}